.sidebar.hidden ~ .main-content {
  width: calc(100%);
  margin-left: 60px;
}

.sections-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
  transition: ease 0.5s;
}
/* 
.last-stagiaires-container-search {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
}

.last-stagiaires-content-search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;
  row-gap: 40px;
  transition: ease 0.5s;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.stagiaires-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  padding: 10px 20px;
  gap: 12px;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
}

.stagiaires-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stagiaires-header .stagiaires-title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.stagiaires-header .stagiaires-count {
  width: 70px;
  color: #2354a1;
  height: 30px;
  background: #f2f3f7;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.stagiaires-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 15px;
  height: 100%;
}
.stagiaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background: #f0f5ff;
  border-radius: 10px;
  padding: 0px 0px;
}
.stagiaire-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.stagiaire-img {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50px;
  margin-left: 5px;
}
.stagiaire-nom-formation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.stagiaire-nom {
  color: #16234e;
  font-size: 16px;
  font-weight: bold;
}
.stagiaire-formation {
  color: #888888;
  font-size: 12px;
  font-weight: medium;
}
.stagiaire-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 22px;
  width: 80px;
  color: #2354a1;
  font-size: 12px;
  margin-right: 5px;
}
.stagiaire-btn:active {
  border: none;
  outline: none;
}
.project-abscence-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  gap: 10px;
  height: 100%;
}
.project-container {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  gap: 10px;
  width: calc(100% - 40px) !important;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.abscence-container-a {
  height: 100% !important;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  width: calc(100% - 40px);
  border-radius: 15px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.abscence-content-a {
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.today-abscence-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.today-abscence-container-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #c2d4fd;
  height: 22px;
  width: 90px;
  border-radius: 5px;
}
.today-abscence-day {
  color: #2354a1;
  font-size: 12;
  font-weight: medium;
}
.see-more-abscence {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2354a1;
  height: 22px;
  width: 72px;
  padding: 0;
  background: #f2f3f7;
  border-radius: 5px;
}
.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
}
.project-status-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff1ef;
  border-radius: 5px;
  height: 22px;
  width: 65px;
  color: #feab92;
  font-size: 12px;
  margin-right: 5px;
}
.project-status-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6f6f2;
  border-radius: 5px;
  height: 22px;
  width: 65px;
  color: #66bbae;
  font-size: 12px;
  margin-right: 5px;
}
.red-line {
  width: 6px;
  height: 40px;
  background: #eb3e64;
  margin-left: 3px;
  border-radius: 50px;
}
.abscence-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.abscence {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: #f0f5ff;
  border-radius: 10px;
  padding: 0px 0px;
}
@media (max-width: 1100px) {
  .sidebar {
    transform: translateX(-240px);
  }
  .sidebar .toggle-button {
    margin: 15px;
  }
}
@media (max-width: 900px) {
  .sections-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    transition: ease 0.5s;
    overflow: scroll;
  }
  .stagiaires-container {
    width: 95%;
    height: 100vh;
  }
  .project-abscence-section {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .project-container {
    height: 100%;
  }
  .abscence-container {
    height: 100%;
  }
}
