.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
  transition: ease 0.5s;
}
.profile-absence {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 44%;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  gap: 12px;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: 210px;
  width: 100%;
}
.haut-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  height: 33%;
  width: 100%;
  background-color: #d5dafa;
  padding: 20px 20px;
  position: relative;
}
.bienvenue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  height: 33%;
  width: 60%;
}
.haut-bienvenue {
  color: #556ee6;
  font-size: 16.25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.bas-bienvenue {
  color: #556ee6;
  font-size: 14px;
  font-weight: 500;
}
.image-haut-profile {
  display: flex;
  justify-content: flex-end;
}
.image-box {
  height: 100px;
  width: auto;
  position: absolute;
  right: 35px;
  bottom: 0;
}
.bas-profile {
  display: flex;
  justify-content: flex-start;
}
.bas-profile-gauche {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.img-profile {
  height: 80px;
  width: 80px;
  background: url("../../images/user.jpg");
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -59px;
  margin-left: 35px;
  z-index: 2;
}
.bas-profile-gauche-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 5px;
  row-gap: 5px;
  text-align: left;
}
.bas-profile-gauche-text .nomStagiare {
  font-size: 16px;
  font-weight: 700;
}
.bas-profile-gauche-text .formation {
  font-size: 15px;
  color: #74788d;
  font-weight: 500;
}
.bas-profile-droit-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}
.bas-profile-droit-dateDebut,
.bas-profile-droit-dateFin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  row-gap: 0px;
  gap: 10px;
}
.debutIcon,
.finIcon {
  height: 15px;
  width: 15px;
  border: none;
  color: #fff;
  background-color: #556ee6;
  border-radius: 50%;
  padding: 7.5px;
}
.bas-profile-droit-dateDebut-txt,
.bas-profile-droit-dateFin-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.bas-profile-droit-dateDebut-txt .top,
.bas-profile-droit-dateFin-txt .top {
  font-size: 14px;
  font-weight: 500;
  color: #74788d;
}
.bas-profile-droit-dateDebut-txt .date,
.bas-profile-droit-dateFin-txt .date {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.bas-profile-droit-viewProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}
.bas-profile-droit-viewProfile .viewButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #556ee6;
  color: #fff;
  padding: 3px 8px;
  border-radius: 8px;
}
.bas-profile-droit-viewProfile .flecheDroit {
  height: 12px;
  padding-left: 5px;
  margin-top: 2px;
}
.absence {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  padding: 10px 0px;
  gap: 12px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
}
.absence-chart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
.absence-chart-title {
  color: #121827;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 20px;
}
.progression-reunion-projet {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(56% - 10px);
}
.progression {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  padding: 10px 0px;
  gap: 12px;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: 500px;
}
.reunion-projet {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.projet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  overflow: hidden;
  gap: 12px;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: 270px;
  width: 77%;
}
.haut-projet {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  height: 32%;
  width: calc(100% - 20px);
  background-color: #fdf2e0;
  padding: 20px 0px;
  position: relative;
  padding-right: 20px;
}
.haut-projet-droit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
  width: 100%;
}
.haut-projet .nomApplication {
  color: #ff8c00;
  font-size: 16.25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.haut-projet .descriptionApplication {
  color: #ff8c00;
  font-size: 14px;
  font-weight: 500;
}
.haut-projet-gauche {
  display: flex;
  padding: 0px;
  /* position: relative; */
}
.projetBackGround {
  display: flex;
  padding: 0px;
}
.projetBackGround-img {
  background: url(/images/projetBackground.png);
  height: 120px;
  width: 100px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  margin: 0px;
  opacity: 0.7;
  transform: rotate(-30deg);
  z-index: 0;
  padding: -2px;
  margin-top: -13px;
}

.bas-projet {
  display: flex;
  justify-content: flex-end;
}
.bas-projet-droit {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  z-index: 1;
}
.bas-projet-droit .projet-img {
  height: 80px;
  width: 80px;
  background: url(/images/projetImage.jpg);
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -59px;
  margin-right: 35px;
  z-index: 10;
}
.bas-projet-droit .under-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 23px;
}
.under-logo .nomProjet {
  font-size: 15.25px;
  font-weight: 700;
  color: #556ee6;
}
.under-logo .typeProjet {
  font-size: 12px;
  font-weight: 700;
  color: #556ee6;
  background-color: #d5dafa;
  border-radius: 6px;
  width: fit-content;
  padding: 0px 6px;
}
.viewProjetButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.viewProjetButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ff8c00;
  margin-top: 20px;
  color: #fff;
  padding: 3px 8px;
  border-radius: 8px;
}
.voirDetailsProjet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.viewProjetButton .flecheDroit {
  height: 12px;
  padding-left: 5px;
  margin-top: 2px;
}
.bas-projet-gauche {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 450px;
}
.bas-projet-gauche .infoEncadrant {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}
.infoEncadrant .entete-image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-top: 0px;
  margin-right: 5px;
}
.entete-image .imgEncadrant {
  height: 75px;
  width: 75px;
  background: url("../../images/user.jpg");
  background-size: cover;
  border-radius: 50%;
  margin: 4px;
  border: 1px solid #dad8d8;
  z-index: 2;
}
.entete-image .entete {
  font-size: 12px;
  font-weight: 800;
  color: #ff8c00;
  transform: rotate(-90deg);
  padding: 0px;
  margin-top: 35px;
  margin-left: -20px;
  margin-right: -25px;
}
.infoEncadrant .nomEncadrant-fonction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.nomEncadrant-fonction .nomEncadrant {
  font-size: 14.5px;
  font-weight: 700;
  color: #000;
}

.nomEncadrant-fonction .fonction {
  font-size: 14px;
  font-weight: 500;
  color: #74788d;
}

.bas-projet-gauche .linkEncadrant {
  font-weight: 700;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  color: #556ee6;
}

.linkEncadrant .flecheDroit {
  height: 12px;
  padding-left: 5px;
  margin-top: 5px;
}
.reunion-logo {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 22%;
}
.reunion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: calc(100% - 140px);
  width: 100%;
  position: relative;
}

.reunion .bas-reunion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #dcebe9;
  /* #dff5ea; */
  width: 100%;
  padding-bottom: 10px;
}
.bas-reunion .bas-reunion-txt {
  color: #009898;
  font-weight: 700;
  font-size: 16px;
  margin-top: -12px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.bas-reunion .bas-reunion-backgound {
  height: 75px;
  width: 120px;
  background: url("../../images/meeting.png");
  background-size: cover;
  z-index: 2;
  margin-top: -5px;
}
.reunion .reunion-info {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding-left: 1px;
  height: fit-content;
  padding-top: 10px;
  margin-top: 5px;
}

.reunion-info .nomEncadrant-reunion,
.dateReunion,
.lieuReunion {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  column-gap: 10px;
  align-items: center;
  padding: 4px 2px;
}
.txt-info-reunion {
  font-size: 10px;
  font-weight: 700;
}
.icon-info-reunion {
  height: 10px;
  width: 10px;
  background-color: #009898;
  border-radius: 50%;
  color: #fff;
  padding: 4px;
}
.reunion-logo .logo-under {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  padding: 0px 0px;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: fit-content;
  width: 100%;
  position: relative;
  background-color: #fff;
}
.logo-under .logo-background {
  background: url("../../images/MENStage.png");
  height: 40px;
  background-size: cover;
  width: 110px;
}
.change-filter-wrapper {
  position: relative;
  margin-right: 10px;
}
.change-filter-link {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #a9aeb385;
  color: #1f212c;
  font-size: 17px;
  padding: 10px 15px;
  transition: ease 0.3s;
}
.change-links-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  margin-top: -8.5px;
  left: 0;
  z-index: 20;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  white-space: nowrap;
}
.change-link {
  font-size: 14px;
  color: #4a4f5d;
  text-decoration: none;
  transition: ease 0.2s;
  width: calc(100% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  text-align: start;
}
.change-link:hover {
  background: #d6d6d8;
}
.circle-chart-absence {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle-chart-absence .label-1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #101827;
}
.circle-chart-absence .label-2 {
  font-size: 1rem;
  font-weight: 500;
  color: #757d8a;
}
.absence-chart-bottom {
  width: calc(100% - 20px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.absence-chart-bottom .abscence-chart-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.point-name-container {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.point-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fcc93e;
}
