.sidebar.hidden ~ .main-content {
  width: calc(100%);
  margin-left: 60px;
}

.sections-container-p {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  transition: ease 0.5s;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.projet-containert-collaborators {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.projet-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  padding: 10px 20px;
  gap: 12px;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: 300px;
  width: 45%;
}

.projet-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.projet-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-top: -12px;
}
.projet-body-details h4 {
  margin-bottom: 0px;
  color: #495057;
  font-size: 16px;
  font-weight: 700;
}
.projet-body-details p {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #74788d;
}
.projet-body-date {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 25px;
}
.projet-body-date .icon {
  color: #556ee6;
  margin-right: 10px;
}
.projet-body-date-debut {
  flex-direction: column;
  font-size: 14px;
  color: #495057;
  font-weight: 700;
  text-align: left;
  margin-right: 150px;
}
.projet-body-date-debut p {
  flex-direction: column;
  font-size: 13px;
  color: #74788d;
  font-weight: 500;
  margin-top: 5px;
}
.projet-body-date-fin {
  flex-direction: column;
  font-size: 14px;
  color: #495057;
  font-weight: 700;
  text-align: left;
}
.projet-body-date-fin p {
  flex-direction: column;
  font-size: 13px;
  color: #74788d;
  font-weight: 500;
  margin-top: 5px;
}
.technologies {
  margin-top: 10px;
  margin-left: 30px;
}
.technologie {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4px;
}
.tech-icon {
  height: 10px;
  width: auto;
  margin-top: 3px;
  margin-right: 7px;
  margin-right: 15px;
}
.technologie img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: contain;
}
.technologie label {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 9px;
  margin-left: 5px;
}
.projet-collaborators {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  overflow: hidden;
  padding: 10px 20px;
  gap: 12px;
  height: calc(100vh - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  height: 300px;
  width: 30%;
}
.collaborators-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.collaborators-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.collaborators-header p {
  font-size: 17px;
  font-weight: 700;
}
.collaboratores-body-encadrant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-top: -15px;
  margin-left: 30px;
}
.header-collaboratores-body {
  margin-bottom: 5px;
}
.header-collaboratores-body label {
  font-size: 15px;
  font-weight: 700;
}
.header-icon {
  font-size: 13px;
  padding-bottom: 1px;
  padding-right: 4px;
}
.collaboratores-body-encadrant-imageName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
}
.collaboratores-body-encadrant-imageName img {
  height: 30px;
  width: auto;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(62, 62, 62, 0.1);
}

.encadrant-fonction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
  margin-left: 5px;
  margin-top: 12px;
}
.encadrant-fonction .nomEnacrant {
  font-weight: bold;
  font-size: 13px;
}
.encadrant-fonction .fonction {
  font-weight: bold;
  margin-top: 1px;
  font-size: 10px;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  color: rgb(85, 110, 230);
  background-color: #d5dafa;
}
.collaboratores-body-equipes {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
}

.header-collaboratores-equipes label {
  font-size: 15px;
  font-weight: 700;
}
.collaboratores-body-stagiaire-imageName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
  margin-top: 5px;
}
.collaboratores-body-stagiaire-imageName img {
  height: 30px;
  width: auto;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgba(62, 62, 62, 0.1);
}

.stagiaire-formation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
  margin-left: 5px;
  margin-top: 12px;
}
.stagiaire-formation .nomStagiaire {
  font-weight: bold;
  color: black;
  font-size: 13px;
}
.stagiaire-formation .formation {
  font-weight: bold;
  margin-top: 1px;
  font-size: 10px;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  color: rgb(85, 110, 230);
  background-color: #d5dafa;
}
.projet-header .projet-titles {
  margin-top: 10px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.projet-header .projet-title {
  font-size: 16px;
  font: sans-serif;
  font-weight: 700;
  color: #495057;
}
.projet-header .projet-under-title {
  font-size: 14px;
  font-weight: 500;
  color: #74788d;
  margin-top: 1px;
}
.projet-picture {
  width: 65px;
  height: 65px;
  border-radius: 10%;
  object-fit: cover;
  position: relative;
  margin-top: 8px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(62, 62, 62, 0.1);
}
.stagiaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background: #f0f5ff;
  border-radius: 10px;
  padding: 0px 0px;
}
.stagiaire-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.stagiaire-img {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50px;
  margin-left: 5px;
}
.stagiaire-nom-formation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.stagiaire-nom {
  color: #16234e;
  font-size: 16px;
  font-weight: bold;
}

.stagiaire-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 22px;
  width: 80px;
  color: #2354a1;
  font-size: 12px;
  margin-right: 5px;
}
.stagiaire-btn:active {
  border: none;
  outline: none;
}
.project-abscence-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1; /* Added to occupy remaining vertical space */
  gap: 10px;
  height: 100%;
}
.project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  width: calc(100% - 40px) !important;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.abscence-container {
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  width: calc(100% - 40px);
  border-radius: 10px;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.abscence-content {
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.today-abscence {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.today-abscence-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #c2d4fd;
  height: 22px;
  width: 90px;
  border-radius: 5px;
}
.today-abscence-day {
  color: #2354a1;
  font-size: 12;
  font-weight: medium;
}
.see-more-abscence {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2354a1;
  height: 22px;
  width: 72px;
  padding: 0;
  background: #f2f3f7;
  border-radius: 5px;
}
.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
}
.project-status-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff1ef;
  border-radius: 5px;
  height: 22px;
  width: 65px;
  color: #feab92;
  font-size: 12px;
  margin-right: 5px;
}
.project-status-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6f6f2;
  border-radius: 5px;
  height: 22px;
  width: 65px;
  color: #66bbae;
  font-size: 12px;
  margin-right: 5px;
}
.red-line {
  width: 6px;
  height: 40px;
  background: #eb3e64;
  margin-left: 3px;
  border-radius: 50px;
}
.abscence-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.abscence {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: #f0f5ff;
  border-radius: 10px;
  padding: 0px 0px;
}
@media (max-width: 1100px) {
  .sidebar {
    transform: translateX(-240px);
  }
  .sidebar .toggle-button {
    margin: 15px;
  }
}
@media (max-width: 900px) {
  .sections-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    transition: ease 0.5s;
    overflow: scroll;
  }
  .stagiaires-container {
    width: 95%;
    height: 100vh;
  }
  .project-abscence-section {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .project-container {
    height: 100%;
  }
  .abscence-container {
    height: 100%;
  }
}
