.custom-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #eff2f6;
}
.custom-table th{
  background: none;
}

.custom-table th,
.custom-table td {
  border-right: none;
  border-left: none;
  padding: 8px;
  text-align: left;
}



.custom-table thead th,
.custom-table tfoot th,
.custom-table tfoot td {
  border-top: none;
}
