.table-container {
  margin-top: 100px;
}

.table-wrapper {
  width: 100%;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th{
  background: #F2F3F7;
}

.custom-table th,
.custom-table td {
  border-right: none;
  border-left: none;
  border-color: #fff;
  
  padding: 8px;
  text-align: left;
}

