.table-container {
  width: 100%;
  overflow-x: scroll;
  margin: 0 auto; /* Centers the table horizontally */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tbody tr:hover {
  background-color: #eaeaea;
}
