.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 15%;
  background-color: #333;
}

.sidebar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: ease 0.5s;
}

.sidebar-link:hover {
  background-color: #fff;
  color: #333;
}


.main {
  width: 90%;
  padding: 20px;
}

/* make the page full height */
html, body, #root {
  height: 100%;
  margin: 0;
}
