.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 250px;
  overflow-y: auto;
  padding: 20px 10px;
  background-color: #fafafc;
  box-shadow: 3px 1px 2px 0 rgba(0, 0, 0, 0.04);
  transition: ease 0.5s;
  z-index: 1;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.big-icons{
  font-size: 20px;
  margin-left: 15px;
}
.small-icons{
  font-size: 22px;
  margin-left: 18px;
}


.sidebar.hidden {
  transform: translateX(-240px);
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
  color: #888;
  transition: ease 0.5s;
}
.sidebar.hidden .toggle-button {
  margin: 15px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo Link i{
  cursor: pointer;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* stagiaire modal */
.stagiaire-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.stagiaire-modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 0px 20px;
  padding-bottom: 10px;
  width: 60%;
  height: auto;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
.stagiaire-modal-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}
.stagiaire-modal-header *{
  color: #323232;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
}
.form-group{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.form-group label{
  color: #a9b2be;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}
.form-group input{
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
}
.form-group-email input{
  width: 97%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
}
.form-group select{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
}
.form-group input::placeholder{
  color: #c9cfdc;
}
.nom-container, .prenom-container, .email-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.info-devider{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
  color: #888;
  font-size: 18px;
}

.info-devider-line{
  width: 100%;
  height: 1px;
  background: #888;
}
.info-devider-text{
  white-space: nowrap;
}
.password-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.password-container input{
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}
.password-container .generate-password{
  background: #5b7afa;
  border: 1px solid #5b7afa;
  color: #fff;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: ease .3s;
}
.password-container .generate-password:hover{
  background: none;
  color: #5b7afa;
  transition: ease .3s;
}
.form-group .date-naissance-input{
  width: 92%;
}
.save-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.annuler-link{
  border: 1px solid #aaa;
  background: none;
  width: 120px;
  color: #888;
  border-radius: 5px;
  font-weight: 600;
  transition: ease .3s;
}
.annuler-link:hover{
  color: #aaa;
}
.ajouter-link{
  border: 1px solid #5b7afa;
  color: #fff;
  background: #5b7afa;
  width: 120px;
  border-radius: 5px;
  font-weight: 700;
  transition: ease .3s;
}
.ajouter-link:hover{
  color: #5b7afa;
  background: none;
}




/*end stagiaire modal */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.links-container  {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


.links-container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8e857e;
  width: 100%;
}
.links-container ul li .plus-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #8e857e;
  width: 100%;
}
.links-container ul li .plus-container .plus-icon{
  font-size: 14px;
  width: 18px;
  height: 18px;
  color: #424868;
  background: #ECE6E1;
  border-radius: 50px;
  padding: 3px;
}

.links-container ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #8E857E;
  width: 100%;
  padding-right: 10px;
  transition: .3s;
}
.links-container ul li a *{
  cursor: pointer;
}
.links-container ul li a:hover,.active-link *{
  color: #0D0A0A;
}

.links-list {
  justify-content: center;
}
.icons{
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-list.hidden {
  justify-content: flex-end;
}

.links-list li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #8e857e;
}



.links-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: #8e857e;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}
.sidebar.hidden li {
  display: flex;
  align-items: center;
}

a {
  padding: 0.5rem;
}

li:hover{
  color: #fff;
}

.sidebar.hidden .links-container ul li a {
  transform: translateX(+200px);
}


@media (max-width: 1100px) {
  .sidebar {
    transform: translateX(-240px);

  }
  .sidebar .toggle-button {
    margin: 15px;
  }
  .links-container  {
    transform: translateX(200px);
  }
  .links-container ul li label{
    display: none;
  }
}